#info {
  padding: 55px;
  background: #e17000ed;
  margin-bottom: 50px;
  border-radius: 10px;
}

header {
  background: #ff9800;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  justify-content: center;
  display: flex;
  align-items: center;
}

#logo h1 {
  margin-left: 5px;
}

#logo img {
  height: 70px;
}

#header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c77a14;
  padding: 5px 15px;
  border-radius: 10px;
}

header p {
  margin-left: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p img {
  margin-left: 5px;
}

nav {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  background: black;
  padding: 35px;
}

#banner {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding: 35px;
}

.nav-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #f17100;
}

#connect-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#connect-button-wrapper p {
  margin-top: 10px;
}

#info p {
  padding: 3px;
  color: white;
}

button.connect-wallet {
  background-color: #ff983c;
  color: #fff;
  box-shadow: 5px 5px #ff5100;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  border-radius: 15px;
  padding: 15px 45px;
  border-color: transparent;
  font-weight: 700;
  position: relative;
}

.nft-section {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.ntf-item {
  background-color: rgb(211 118 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.nft-item-image {
  background-color: #ffa700;
  width: 250px;
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nft-item-name {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nft-item-price {
  margin-top: 10px;
  color: #f9ddad;
  font-size: 15px;
  font-weight: bold;
}

.rate-wrapper {
  font-size: 20px;
}

.rate-wrapper a {
  color: greenyellow;
}

#footer {
  background-color: #703902;
  padding: 75px;
  margin-top: 50px;
}

.footer-column-title {
  font-weight: bold;
  font-size: 25px;
  color: wheat;
}

.footer-item {
  margin-top: 15px;
}

#pools {
  margin-bottom: 30px;
}

.pool-section {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #e17000;
}

.pool-section:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pool-section:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 0;
}

.pool-column {
  display: flex;
  flex-direction: column;
}

.pool-column .token-logo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #000000;
  margin-right: 10px;
  border: 1px solid #e17000;
}

.pool-detail-btn {
  color: #f17100;
}

.section-title {
  color: #f17100;
  margin-bottom: 30px;
}

.pool-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-title {
  display: flex;
  flex-direction: column;
}

.hidden-icon {
  font-size: 100px;
  color: #e17000;
}
